*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-header{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #151515;
    color: #fff;
}

.cont-body{
    display: flex;
    height: 80vh;
    justify-content: space-around;
    width: fit-content;
    background-color: teal;
}